.conteiner{
    background: var(--roxo-escuro);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 0;
}

.conteiner p {
    font-size: 2.5rem;
    color: var(--cinza-escuro);
    margin-left: 10px;
}